@model DesignationMaster.Models.DesignationMasterViewModel

@{
    ViewData["Title"] = "New Designation";
}



<div class="container mt-4">
    <div class="bg-primary text-white p-2 rounded text-center">
        <h4>New Designation</h4>
    </div>

    <form asp-action="AddDesignation" method="post" class="mt-4">
      

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">College</label>
            <div class="col-sm-9">
                <select asp-for="CollegeId" asp-items="ViewBag.CollegeList" class="form-select">
                  @*   <option value="">-- Select College --</option> *@
                </select>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Designation Code</label>
            <div class="col-sm-9">
                <input type="number" asp-for="DesignationCode" class="form-control" />
                <span asp-validation-for="DesignationCode" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">
                Designation Acronym <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <input asp-for="DesignationAcronym" class="form-control" />
                <span asp-validation-for="DesignationAcronym" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">
                Designation Name <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <input asp-for="DesignationName" class="form-control" />
                <span asp-validation-for="DesignationName" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Stream</label>
            <div class="col-sm-9">
                <select asp-for="StreamId" asp-items="ViewBag.StreamList" class="form-select">
                    @* <option value="">-- Select Stream --</option> *@
                </select>
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">
                Roles & Responsibilities <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <textarea asp-for="RolesAndResponsibilities" class="form-control"></textarea>
                <span asp-validation-for="RolesAndResponsibilities" class="text-danger"></span>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Index", "Designation")" class="btn btn-outline-secondary ms-2">Exit</a>
        </div>
    </form>
</div>


